html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?2o6c0r');
  src: url('../fonts/icomoon.eot?#iefix2o6c0r') format('embedded-opentype'), url('../fonts/icomoon.woff?2o6c0r') format('woff'), url('../fonts/icomoon.ttf?2o6c0r') format('truetype'), url('../fonts/icomoon.svg?2o6c0r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pencil:before {
  content: "\e601";
}
.icon-quill:before {
  content: "\e60c";
}
.icon-library:before {
  content: "\e604";
}
.icon-tag:before {
  content: "\e605";
}
.icon-address-book:before {
  content: "\e600";
}
.icon-user:before {
  content: "\e606";
}
.icon-users:before {
  content: "\e602";
}
.icon-quotes-left:before {
  content: "\e603";
}
.icon-search:before {
  content: "\e60f";
}
.icon-expand:before {
  content: "\e610";
}
.icon-star:before {
  content: "\e611";
}
.icon-thumbs-up:before {
  content: "\e607";
}
.icon-checkmark:before {
  content: "\e608";
}
.icon-plus:before {
  content: "\e615";
}
.icon-loop:before {
  content: "\e609";
}
.icon-facebook:before {
  content: "\e60a";
}
.icon-twitter:before {
  content: "\e60b";
}
.icon-github:before {
  content: "\e60d";
}
.icon-forward:before {
  content: "\e612";
}
.icon-link:before {
  content: "\e613";
}
.icon-ellipsis:before {
  content: "\e614";
}
.icon-sina-weibo:before {
  content: "\e60e";
}
body {
  font-size: 16px;
  color: white;
  background: url('src/images/30.jpg') no-repeat;
  background-size: cover;
  font-family: HelveticaNeue-Medium, 'Helvetica Neue Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.pull-right {
  float: right;
}
.main {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  text-align: center;
}
.time,
.welcome {
  font-weight: bold;
}
.time {
  font-size: 10em;
}
.welcome {
  font-size: 3em;
}
.todo-toggle {
  font-size: 1.2em;
  cursor: pointer;
  border-bottom: 3px solid white;
  padding: 8px 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.todo-modal {
  position: absolute;
  bottom: 40px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  padding: 10px;
}
.todo-modal ul li {
  margin: 5px 0;
}
.input-style {
  border: none;
  background: none;
  border-bottom: 2px solid white;
  min-width: 100px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1em;
}
.input-style:focus {
  outline: none;
}
#input-name,
.add-todo {
  width: 200px;
}
.add-todo {
  border-bottom-width: 1px;
}
.todo-item:hover .destroy {
  display: block;
}
.todo-item .destroy {
  display: none;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 0.8em;
  border: 1px solid transparent;
}
.todo-item .destroy:hover {
  border: 1px solid #eee;
  border-radius: 100%;
}
